In [2]:
import pandas as pd
import numpy

In [10]:
!find -name AllCombined04.csv

In [12]:
inData = pd.read_csv('/home/jovyan/work/data/aqueduct/data_source/wr_indicators/AllCombined04.csv')

In [14]:
inData.head(2)

,Id,BasinID,aqbasinwaterstressyeardimensionlesI054Y2014M01_OID,aqbasinwaterstressyeardimensionlesI054Y2014M01_COUNT,aqbasinwaterstressyeardimensionlesI054Y2014M01_AREA,aqbasinwaterstressyeardimensionlesI054Y2014M01_MIN,aqbasinwaterstressyeardimensionlesI054Y2014M01_MAX,aqbasinwaterstressyeardimensionlesI054Y2014M01_RANGE,aqbasinwaterstressyeardimensionlesI054Y2014M01_MEAN,aqbasinwaterstressyeardimensionlesI054Y2014M01_STD,...,q4seasonalvariabilitywatersupply_SUM,riverdischargeyearm3secondI054Y2014M01_OID,riverdischargeyearm3secondI054Y2014M01_COUNT,riverdischargeyearm3secondI054Y2014M01_AREA,riverdischargeyearm3secondI054Y2014M01_MIN,riverdischargeyearm3secondI054Y2014M01_MAX,riverdischargeyearm3secondI054Y2014M01_RANGE,riverdischargeyearm3secondI054Y2014M01_MEAN,riverdischargeyearm3secondI054Y2014M01_STD,riverdischargeyearm3secondI054Y2014M01_SUM
0,1,-1,-1.0,95521.0,663.34024,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,95521.0,663.34024,0.0,0.0,0.0,0.0,0.0,0.0
1,2,-1,-1.0,95521.0,663.34024,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,95521.0,663.34024,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
inData.columns

Index(['Id', 'BasinID', 'aqbasinwaterstressyeardimensionlesI054Y2014M01_OID',
       'aqbasinwaterstressyeardimensionlesI054Y2014M01_COUNT',
       'aqbasinwaterstressyeardimensionlesI054Y2014M01_AREA',
       'aqbasinwaterstressyeardimensionlesI054Y2014M01_MIN',
       'aqbasinwaterstressyeardimensionlesI054Y2014M01_MAX',
       'aqbasinwaterstressyeardimensionlesI054Y2014M01_RANGE',
       'aqbasinwaterstressyeardimensionlesI054Y2014M01_MEAN',
       'aqbasinwaterstressyeardimensionlesI054Y2014M01_STD',
       ...
       'q4seasonalvariabilitywatersupply_SUM',
       'riverdischargeyearm3secondI054Y2014M01_OID',
       'riverdischargeyearm3secondI054Y2014M01_COUNT',
       'riverdischargeyearm3secondI054Y2014M01_AREA',
       'riverdischargeyearm3secondI054Y2014M01_MIN',
       'riverdischargeyearm3secondI054Y2014M01_MAX',
       'riverdischargeyearm3secondI054Y2014M01_RANGE',
       'riverdischargeyearm3secondI054Y2014M01_MEAN',
       'riverdischargeyearm3secondI054Y2014M01_STD',
       'riverdischargeyearm3secondI054Y2014M01_SUM'],
      dtype='object', length=137)

Create a dict that per column extracts the values needed 


tipo: 
[
{column: "",
 indicator: "",